:root {
  --primary-color: #d8ada0;
  --secondary-color: #212529;
  --third-color: #ffffff;

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

body {
  margin-bottom: 100px;
}

.footer {
  position: fixed;
  bottom: 0;
  border-radius: 0px;
  border: none;
  background: rgb(216, 173, 160, 0.2);
}

nav {
  background: var(--primary-color);
}

.navbar-brand {
  color: var(--third-color);
}

.nav-link {
  color: var(--third-color);
}
.nav-link:hover {
  color: var(--secondary-color);
  opacity: 0.6;
}

.current-page-link {
  color: var(--secondary-color);
  opacity: 0.6;
  border-bottom: 1px inset var(--secondary-color);
}
.current-page-link-secondary {
  color: var(--secondary-color);
  opacity: 0.6;
  border-bottom: 1px inset var(--primary-color);
}
.index-toggler {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
img {
  border-radius: 10px;
}
.carousel {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
}
h1,
h2,
h3 {
  color: var(--secondary-color);
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;

  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
}

.projects-link {
  color: var(--third-color);
  padding: 20px 22px;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.contact-link {
  color: var(--primary-color);
  padding: 20px 15px;
  border: 2px solid var(--primary-color);
}

.app-info,
p,
.about-info {
  font-size: 20px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }
  .navigation-links a {
    font-size: 13px;
    padding: 15px 20px;
  }
  .current-page-link-secondary,
  .current-page-link {
    border-bottom: none;
  }

  .me {
    border: 2px solid var(--primary-color);
    margin-top: 25px !important;
    width: 150px !important;
  }
  #contact-page,
  #work-page,
  #about-page {
    background: rgb(216, 173, 160, 0.1) !important;
  }
  .app-info,
  .about-info {
    font-size: 15px;
  }
  .app-info {
    margin: 20px 0px 20px !important;
    padding: 0px 10px !important;
  }

  .about-info {
    margin-top: 0px !important;
    padding: 10px !important;
  }
  .info-col {
    margin-top: 0px !important;
  }
  .work-img {
    width: 300px !important;
    margin-top: 10px !important;
  }
  .contact-icons {
    font-size: 30px !important;
    margin: 20px 0px !important;
  }
  .contact-h1 {
    font-size: 50px !important;
    margin: 20px 0px 50px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  #contact-page,
  #work-page,
  #about-page {
    background: rgb(216, 173, 160, 0.1) !important;
  }

  .current-page-link {
    border-bottom: none;
  }
  .current-page-link-secondary {
    border-bottom: none;
  }
  .app-info,
  .about-info {
    font-size: 15px !important;
  }

  .contact-icons {
    font-size: 50px !important;
    margin: 20px !important;
  }
  .current-page-link {
    border-bottom: none;
  }
  .current-page-link-secondary {
    border-bottom: none;
  }
  .contact-h1 {
    margin: 20px 0px 90px !important;
  }
}

.homepage-carousel,
.presentation {
  margin-top: 200px !important;
}

.me {
  box-shadow: var(--box-shadow);
  width: 340px;
  margin-top: 195px;
}

#contact-page,
#work-page,
#about-page {
  background: linear-gradient(
    to right,
    rgb(216, 173, 160, 0.1) 0%,
    rgb(216, 173, 160, 0.1) 50%,
    rgb(216, 173, 160, 0.05) 50%,
    rgb(216, 173, 160, 0.05) 100%
  );
}
.contact-icons,
.link-icon {
  border-radius: 10px;
  padding: 5px 5px;
  color: #d8ada0;
  border: 4px solid var(--third-color);
  background: var(--third-color);
}
.link-icon:hover {
  box-shadow: var(--box-shadow);
}

.work-footer,
.about-me-footer {
  background: none;
}

.contact-nav,
.work-nav,
.about-nav {
  color: var(--primary-color);
}
.contact-toggler,
.work-toggler,
.about-toggler {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(216, 173, 160)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.info-col {
  margin-top: 150px;
}

.about-info {
  margin-top: 15px;
  padding: 0px 90px;
}

.work-img {
  width: 700px;
  margin-top: 67px;
}

.app-info {
  margin-top: 70px;
  opacity: 0.7;
  padding: 0px 100px;
}

.contact-icons {
  font-size: 70px;
  margin: 90px;
  padding: 20px 30px;
  border-radius: 40px;
  color: var(--primary-color);
}
.contact-icons:hover {
  color: var(--third-color);
  background: var(--primary-color);
}

.contact-h1 {
  margin-top: 300px;
}
